
@import 'mixins.scss';
@import 'Navbar.scss';
@import 'Header.scss';
@import 'Home.scss';
@import 'About.scss';
@import 'Appointments.scss';
@import 'Materials.scss';
@import 'Contact.scss';
@import 'MediaQueries.scss';



*{
  margin: 0;
  padding: 0;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#backgroundOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -0;
  color: rgba(255, 255, 255, 0.5);
}

.content{
  height: 100%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  @include background-col;
}


.text{
  color: antiquewhite;
  font-family: 'Poiret One';
  text-align: center;
  padding: 5%;
  transition: all 3s ease;
}




// .certificates{
//   display: flex;
//   justify-content: space-around;
// }

// .certificate1, .certificate2, .certificate3, .certificate4{
//   height: 100px;
//   width: 150px;
//   margin: 2%;
//   background-size: cover;
//   translate: -2000px;
//   transition: 1s linear;
//     &:hover{
//       cursor: pointer;
//       scale: 1.5;
//     }
//     &:focus{
//       scale: 3;
//       margin: 11%;
//     }
  
// }

// .certificate1{
//   background-image: url(imgs/1000_F_201825112_dm1tHvITOxrZf7tA1lCSLLytD3ppx0nQ.jpg);
// }

// .certificate2{
//   background-image: url(imgs/classy-ornamental-certificate-template-beige-black_53876-116396.jpg);
// }

// .certificate3{
//   background-image: url(imgs/depositphotos_77528488-stock-illustration-certificate-diploma-of-completion.jpg);
// }

// .certificate4{
// background-image: url(imgs/depositphotos_9725775-stock-illustration-gold-detailed-certificate.jpg);
// }




