.menu-button-container{
  min-width: 15%;
}

h1{
  @include flex-center;
  font-family: 'Poiret One';
  color: antiquewhite;
  font-size: 35px;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.header-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  .menu-button{
    width: 100%;
    margin: 1% 1% 1% 3%;
    z-index: 10;
    .fa-bars{
      position: sticky;
      top: 2%;
      font-size: 20px;
      color: antiquewhite;
      z-index: 1;
      transition: 1s;
      cursor: pointer;
      &:hover{
        color: rgb(255, 77, 2);
      }
    }
  }
  .brand-name{
    min-width: 80%;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
    color: antiquewhite;
    font-family: 'Poiret One';
    @include background-col;
  }
  #filler{
    min-width: 10%;
  }
}