.materialOverlay{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.95);
  z-index: 9;
  justify-content: center;
  align-items: center;
  #overlay-close-button{
    margin: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    align-self: flex-start;
    cursor: pointer;
    transition: 1s ease;
      &:hover{
        background-color: black;
        color: white;
      }
  }
  .login{
    @include background-col;
    height: 200px;
    width: 300px;
    font-family: 'Poiret One';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
      text-align: center;
      color: antiquewhite;
      display: flex;
      justify-content: center;
      padding-bottom: 10%;
    }
    #login-form{
      display: flex;
      flex-direction: column;
      input{       
        @include background-col;
        font-family: 'Poiret One';
        color: antiquewhite;
        font-weight: bolder;
        margin-bottom: 2%;
      }
    }
  }
}