.menu-bar{
  background-color: rgba(0,0,0,0.9);
  width: 100vw;
  height: 100vh;
  padding-top: 30vh; // increase the value with higher resolution
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s ease;
  translate: -1500px;
  z-index: 2;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  list-style: none;
  font-family: roboto;
  }
  li{
    font-size: 1.5rem;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: antiquewhite;
    font-family: 'Poiret One';
    transition: 0.5s ease;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    &:hover{
      cursor: pointer;
      color: transparent;
      font-weight: bolder;
      letter-spacing: 1px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
    }
  }
